<div class="details-panel">
    <!-- Sender Info Section -->
    <div class="sender-info">
        <img src="./sender-image.jpg" alt="Sender Image" class="sender-image">
        <h4 class="sender-name">Emily Johnson</h4>
        <p class="sender-text">Active now</p>
    </div>

    <!-- Menu Section -->
    <div class="menu-section">
        <ul class="menu-list">
            <li class="menu-item">
                <span>Chat Settings</span>
                <fa-icon [icon]="faAngleDown" class="menu-icon"></fa-icon>
            </li>
            <li class="menu-item">
                <span>Privacy & Help</span>
                <fa-icon [icon]="faAngleDown" class="menu-icon"></fa-icon>
            </li>
            <li class="menu-item">
                <span>Shared Photos</span>
                <fa-icon [icon]="faAngleDown" class="menu-icon"></fa-icon>
            </li>
            <li class="menu-item">
                <span>Shared Files</span>
                <fa-icon [icon]="faAngleDown" class="menu-icon"></fa-icon>
            </li>
        </ul>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
        <button class="block-btn">Block User</button>
        <button [routerLink]="['/login']" class="logout-btn">Logout</button>
    </div>
</div>
