<div class="container my-container ">
    <div class="card justify-content-lg-center">
      <div class="card-header text-center">
        <h3>WELCOME BACK</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <a [routerLink]="['/register']"  class="btn btn-link">Don’t have an account?</a>
          <button type="button" class="btn btn-primary"><i class="fa-regular fa-circle-check"></i>
            &nbsp;Sign In</button>
        </div>
      </div>
    </div>
  </div>
  