<div class="sidebar">
  <div class="user-header">
      <img src="./recipient-image.jpg" alt="User" class="user-image">
      <span class="user-name">Rahma TALBI</span>
      <div class="user-icons">
          <fa-icon [icon]="faEllipsis"></fa-icon>
          <fa-icon [icon]="faVideo"></fa-icon>
          <fa-icon [icon]="faPenToSquare"></fa-icon>
      </div>
  </div>
  <div class="action-section">
    <div class="search-bar">
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Search ...">
    </div>
      <button class="add-btn"><fa-icon [icon]="faPlus" ></fa-icon></button>
  </div>
  <div class="sender-list">
      <app-sender />
      <app-sender />
      <app-sender />
      <app-sender />
      <app-sender />
      <app-sender />
      <app-sender />
      <app-sender />
      <app-sender />
  </div>
</div>
