<div class="message-zone">
    <div class="icon-section">
        <fa-icon [icon]="faImage" class="icon"></fa-icon>
        <fa-icon [icon]="faCamera" class="icon"></fa-icon>
        <fa-icon [icon]="faMicrophone" class="icon"></fa-icon>
    </div>
    
    <div class="input-section">
        <input type="text" placeholder="Type your message..." class="message-input" />
        <fa-icon [icon]="faFaceSmile" class="input-icon"></fa-icon>
        <button class="send-button">Send</button>
    </div>
</div>
